.home {
  background-image: url('/assets/img/msnbg_tall.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin-top: 90px;
  min-height: calc(100vh - 90px);
}
img.avatar {
  max-width: 120px;
  height: auto;
  background-color: rgba(103, 213, 103, .80);
  padding: .5rem;
  border-radius: .5rem;
  display: block;
}
.img-add {
  width: 38px;
}
.row {
  padding: 2rem 0;
}
.friend-link {
  text-decoration: none;
  color: rgb(58, 58, 58);
  display: block;
  margin-bottom: .5rem;
}
.img-icon {
  width: 25px;
  display: inline-block;
  margin-right: .8rem;
}
