.logo {
  width: 60px;
  height: 60px;
}
a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  color: white;
}
header {
  box-shadow: 0 0 20px 1px gray;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  background: rgb(73,185,238);
background: linear-gradient(0deg, rgba(73,185,238,1) 0%, rgba(107,198,242,1) 51%, rgba(126,205,244,1) 53%, rgba(161,218,247,1) 100%);
}
